@mixin margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
@mixin position($position, $top, $left){
    position: $position;
    top: $top;
    left: $left;
}
@mixin font($family, $weight, $style, $size, $lineheight, $color){
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $lineheight;
    color: $color;
}

.footer-wrap {
    width: 100%;
    height: 168px;
    background-color: var(--main-color);
    position: relative;
    display: flex;
}

.footer-logo {
    @include margin(30px, 0, 0, 90px);

    h1 {
        @include font("Playfair Display", 400, regular, 32px, 160%, var(--text-color));
        @include margin(-55px,0,0,100px);
    }
}

.footer-item {
    display: inline-block;
    margin-top: 30px;

    a {
        @include font("Montserrat", 700, bold, 16px, 160%, var(--text-color));
        margin-left: 80px;
    }
}
.footer-text{
    margin-left: 159px;
    h4{
        margin-top: 30px;
        @include font("Montserrat", 700, bold, 16px, 160%, var(--text-color));
        color: var(--text-color);
    }
    p{
        @include font("Montserrat", 400, regular, 16px, 160%, var(--text-color));
        margin-bottom: 10px;
    
    }
    img{
        margin-right: 20px;

    }
}