@mixin margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
@mixin position($position, $top, $left){
    position: $position;
    top: $top;
    left: $left;
}
@mixin font($family, $weight, $style, $size, $lineheight, $color){
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $lineheight;
    color: $color;
}

.sec3-wrap {
    width: 100%;
    height: 531px;
    position: relative;

}

.sec3-title {
    @include margin(81px, 0, 0, 693px);

    h1 {
        @include font("Playfair Display", 700, bold, 40px, 160%, var(--main-color));
    }
}

.sec3-imgs {
    .first {
        @include position(absolute, 100px, 270px);
    }

    .second {
        @include position(absolute, 100px, 576px);
    }

    .third {
        @include position(absolute, 100px, 890px);
    }

    .fourth {
        @include position(absolute, 100px, 1244px);
    }
}

.hr1 {
    margin-top: 130px;
    border: 1px solid #9C2482;
}

.firstext {
    @include position(absolute, 250px, 252px);
}

.secondext {
    @include position(absolute, 250px, 583px);
}

.thirdext {
    @include position(absolute, 250px, 865px);
}

.fourthext {
    @include position(absolute, 250px, 1214px);
}

.hr2{
    margin-top: 130px;
    border: 1px solid #9C2482;
}
.sec3-text{
    p{
        @include font("Montserrat", 400, regular, 16px, 160%, #524848);
    }
}

.firstexts{
    @include position(absolute, 365px, 150px);
    @include font("Montserrat", 400, regular, 16px, 160%, #524848);
}
.secondexts{
    @include position(absolute, 365px, 488px);
    @include font("Montserrat", 400, regular, 16px, 160%, #524848);
}
.thirdexts{
    @include position(absolute, 365px, 826px);
    @include font("Montserrat", 400, regular, 16px, 160%, #524848);
}
.fourthexts{
    @include position(absolute, 365px, 1164px);
    @include font("Montserrat", 400, regular, 16px, 160%, #524848);
}