@mixin margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
@mixin position($position, $top, $left){
    position: $position;
    top: $top;
    left: $left;
}
@mixin font($family, $weight, $style, $size, $lineheight, $color){
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $lineheight;
    color: $color;
}

.sec6-wrap{
    width: 100%;
    height: 911px;
    position: relative;
    
  
}
.sec6-title{
    margin-left: 435px;
    h1{
        @include font("Playfair Display", 700, bold, 40px, 160%, var(--main-color));

    }
}
.sec6-col1{
    margin-left: 45px;
    h3{
        @include font("Montserrat", 700, bold, 24px, 160%, #121212);
        margin-bottom: 10px;
    }
    p{
        @include font("Montserrat", 400, regular, 16px, 160%, #524848);
        margin-bottom: 30px;
    }
    hr{
        width: 700px;
        border: 1px solid var(--main-color);
        @include margin(24px,0,29px,0);
    }
    .hrsec61{
        margin-top: 20px;
    }
}
.sec6-column{
    display: flex;
    gap: 20px;
}
.sec6-col2{
    margin-right: 45px;
    p{
        @include font("Montserrat", 400, regular, 16px, 160%, #524848);
        margin-bottom: 30px;
    }
    hr{
        width: 700px;
        border: 1px solid var(--main-color);
        @include margin(24px,0,29px,0);
    }
        h3{
        @include font("Montserrat", 700, bold, 24px, 160%, #121212);
        margin-bottom: 10px;
    }
}
.sec6-button{
    button{
        width: 222px;
        height: 54px;
        background-color: var(--main-color);
        border: none;
        color: var(--text-color);
        @include font("Montserrat", 700, bold, 18px, 160%, #FFFFFF);
        cursor: pointer;
        @include margin(60px,0,0,645px);
    }
}