@mixin margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
@mixin position($position, $top, $left){
    position: $position;
    top: $top;
    left: $left;
}
@mixin font($family, $weight, $style, $size, $lineheight, $color){
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $lineheight;
    color: $color;
}

.sec4-wrap{
    width: 100%;
    height: 510px;
    position: relative;
}
.sec4-title{
    @include margin(50px,0,0,698px);
    h1{
        @include font("Playfair Display",700,bold,40px,160%,var(--main-color));
    }
}
.sec4-img{
    .strilka1{
        @include position(absolute,320px,90px);
    }
    .rectangle{
        @include position(absolute,138px,165px);
    }
    .liliya{
        @include position(absolute,356px,1132px);
    }
    .strilka2{
        @include position(absolute,320px,1495px);
    }
}
.sec4-text{
    h3{
        @include margin(69px,0,0,708px);
        @include font("Montserrat",700,bold,24px,160%,#121212);
    }
    p{
        @include margin(30px,0,0,708px);
        @include font("Montserrat",400,normal,16px,160%,#524848);
    }
}
.sec4-button{
    button{
        width: 290px;
        height: 67px;
        @include margin(30px,0,0,708px);
        background-color: var(--main-color);
        border: none;
        cursor: pointer;
        @include font("Montserrat",700,bold,18px,160%,var(--text-color));
    }
}