@mixin margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
@mixin position($position, $top, $left){
    position: $position;
    top: $top;
    left: $left;
}
@mixin font($family, $weight, $style, $size, $lineheight, $color){
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $lineheight;
    color: $color;
}

.sec7-wrap {
    width: 100%;
    height: 410px;
    position: relative;
}

.sec7-title {
    margin-left: 519px;

    h1 {
        @include font("Playfair Display", 700, bold, 40px, 160%, var(--main-color));
    }
}

.sec7-card {
    margin-top: 44px;
    display: flex;
    gap: 20px;
}

.sec7-card1 {
    margin-left: 150px;
    width: 640px;
    height: 240px;
    border: 1px solid var(--main-color);

    h3 {
        @include margin(20px,0,0,35px);
        @include font("Inter", 500, bold, 24px, 160%, var(--main-color));
    }

    p {
        @include font("Inter", 400, regular, 16px, 160%, #524848);
        @include margin(10px,0,0,35px);
    }



}

.star1 {
    @include position(absolute,133px,559px);
}

.star2 {
    @include position(absolute,133px,588px);
}

.star3 {
    @include position(absolute,133px,616px);
}

.star4 {
    @include position(absolute,133px,645px);
}

.star5 {
    @include position(absolute,133px,673px);
}


.sec7-card2 {
    margin-right: 150px;
    width: 640px;
    height: 240px;
    border: 1px solid var(--main-color);
    h3{
        @include margin(20px,0,0,35px);
        @include font("Inter", 500, bold, 24px, 160%, var(--main-color));
    }
    p {
        @include font("Inter", 400, regular, 16px, 160%, #524848);
        @include margin(10px,0,0,35px);
    }
}
.star6 {
    @include position(absolute,133px,1187px);
}

.star7 {
    @include position(absolute,133px,1217px);
}

.star8 {
    @include position(absolute,133px,1247px);
}

.star9 {
    @include position(absolute,133px,1277px);
}

.star10 {
    @include position(absolute,133px,1308px);
}


.strilka71 {
    @include position(absolute,231px,90px);
}

.strilka72 {
    position: absolute;
    top: 231px;
    right: 90px;
}
