@mixin margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
@mixin position($position, $top, $left){
    position: $position;
    top: $top;
    left: $left;
}
@mixin font($family, $weight, $style, $size, $lineheight, $color){
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $lineheight;
    color: $color;
}

.sec2-wrap{
    width: 100%;
    height: 627px;
    position: relative;
    margin-top: 90px;

}
.sec2-title{
    margin-left: 699px;
    h1{
        @include font("Playfair Display", 700, bold, 40px, 160%, var(--main-color));
        margin-bottom: 30px;
        
    }
}
.sec2-img{
    .golovna{
       margin-left: 90px;
    }
    .play{
        @include position(absolute, 478px, 116px);
        cursor: pointer;
    }
    .ellipse{
        @include position(absolute, 462px, 103px);
        z-index: -1;
    }
}
.sec2-text{
    @include margin(-500px,0,0,1049px);
    h2{
        margin-bottom: 9px;
        @include font("Playfair Display", 700, bold, 24px, 160%, #121212);
    }
    p{
        @include font("Montserrat", 400, regular, 16px, 160%, #524848);
    }
}
.sec2-button{
    button{
        width: 222px;
        height: 54px;
        background-color: var(--main-color);
        border: none;
        cursor: pointer;
        @include margin(30px,0,0,1049px);
        @include font("Montserrat", 700, bold, 18px, 160%, var(--text-color));
    }
}